<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../stylesheets/homepage.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/20c5629a29.js" crossorigin="anonymous"></script>
</head>

<body class="banner">
    <nav class="navbar navbar-expand-lg navbar-dark  bg-transprent">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="../images/food-munch-img.png" class="food-munch-logo" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    <a class="nav-link active" id="navItem1" href="/stream" cl>
                        START MEETING
                        <span class="sr-only">(current)</span>
                    </a>
                    <a class="nav-link anchor-box" href="#exploreMenuSection" id="navItem2">JOIN MEETING</a>
                    <a class="nav-link anchor-box" href="/users/logout" id="navItem3">LOGOUT</a>
                </div>
            </div>
        </div>
    </nav>
    <div class='content'>
        <h1 class='user-name'>welcome <%= username %></h1>
        <p class=para-content>If you are a new user click on <b><a href='#' class='anchor-box'>watch tutorial</a></b>
        </p>
        <button type="button" class="button-box" id="create">create meeting</button>
        <diV class='popup-start center'>
            <p class=para>Are you sure to start meeting</p>
            <input type='button' id='startconfirm' class='pop-button' value=confirm>
            <button type='button' id=exit class='pop-button'>Dismiss</button>
        </diV>
        <button type="button" class="button-box" id='joinmeet'>join meeting</button>
        <diV class='popup-join center'>
            <input type='text' placeholder="Enter-code" class='input'><br>
            <button type='button' id='joinconfirm' class='pop-button'>confirm</button>

            <button type='button' id='back' class='pop-button'>Dismiss</button>
        </diV>
    </div>
</body>
<script src="../javascripts/homepage.js" ></script>

</html>